body {
    margin: 0;
    padding: 0;
    background-color: grey;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding:0 2rem;
    margin: auto;
}
.navbar>span {
    color: red;
}
.navbar>ul {
    display: flex;
    justify-content: end;
    align-items: center;
    list-style-type: none;
}

.navbar>ul>li {
    padding: 5px;
}
.navbar>ul>li>a {
    text-decoration: none;
    color: white;
}

/* about me  */
.about-me {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid red;
    height: 50vh;
}
.about-me>img {
    width: 6.5rem;
    height: 16rem;
}
.p1>button {
    width:15rem;
    height: 4rem;
    padding: 4px;
    text-align: center;
    border: none;
    outline: 6px solid black;
    font-size: 1.5rem;
    color: white;
    background-color: rgb(246, 109, 109);
}
.p1>button:hover {
    cursor: pointer;
    color: red;
    background-color: #FABD44;
}

.p1>span {
    color: yellowgreen;
}